$background-color-sandia:#313131;
$background-color-pera:#FD577D;
$background-color-frutilla:#F8D52F;
$background-color-banana:#FF642C;
$background-color-header:#01BDBE;
$background-color-footer:#1F1F1F;
$color-border-header:#0083AB;